<main class="centrar container form">
  <h1 class="text-center">LOGIN</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="full-width">
    <div class="form-group">
      <label for="username" class="form-label">username</label>
      <input type="text" id="username" formControlName="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password" class="form-label">password</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <ng-container *ngIf="loggFail">
      <p>Usuario o contraseña incorrectos</p>
    </ng-container>
    <div class="separate">
      <button class="button button-primary" type="submit" [disabled]="userForm.invalid">Ingresar</button>
      <a class="button button-secondary" routerLink="/signup">Registrar</a>
    </div>
  </form>
</main>