<main class="centar container form">
  <h1 class="text-center">SIGN UP</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="full-width">
    <div class="form-group">
      <label class="form-label" for="username">username</label>
      <input class="form-control" type="text" id="username" formControlName="username">
      <ng-container
        *ngIf="userForm.get('username')?.hasError('required') && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
        <p>Se requiere nombre de usuario</p>
      </ng-container>
    </div>
    <div class="form-group">
      <label class="form-label" for="rol">rol</label>
      <select class="form-control" id="rol" formControlName="rol">
        <option value="admin">admin</option>
        <option value="user">user</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-label" for="password">password</label>
      <input class="form-control" type="password" id="password" formControlName="password">
      <ng-container
        *ngIf="userForm.get('password')?.hasError('required') && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
        <p>Se requiere contraseña</p>
      </ng-container>
      <ng-container
        *ngIf="userForm.get('password')?.hasError('minlength') && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
        <p>La contraseña debe ser de por lo menos 4 caracteres</p>
      </ng-container>
    </div>
    <div class="form-group text-center">
      <img [src]="userForm.get('photoURL')!!.value" alt="perfil">
    </div>
    <div class="separate">
      <button class="button button-primary" type="submit" [disabled]="userForm.invalid">Registrar</button>
      <a class="button button-secondary" routerLink="/login">Ingresar</a>
    </div>
  </form>
</main>